<h1>Patients</h1>
# <h1><%= @patient.first_name %></h1>
# <%= link_to 'Appointments', patients_path(@patient) %>
# <br />
# <%= link_to 'Delete Appointments', @patient, method: :delete, class: 'ui blue button' %>
