<h1><%= @patient.full_name %></h1>
<hr >
<h2>Patient Appointments</h2>
<ul>
  <% @patient.appointments.each do |appointment| %>
    <li>
      <%= link_to appointment.patient_info, appointment %>
    </li>
  <% end %>
</ul>
<br />
<br />
<br />
<%= link_to 'Delete Patient', @patient, method: :delete, class: 'ui red buttom' %>